node-red/data/flows.json
[
    {
        "id": "0bd2db54d49cbc75",
        "type": "tab",
        "label": "Vehicle Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4abfefc95226429e",
        "type": "tab",
        "label": "Ui Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dffaf68dd69c6f57",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "http://localhost:1883/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a305fd37e215ef10",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "dashboard",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "ce4fde5272828988",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6010da9ddfe87f49",
        "type": "ui-theme",
        "name": "Theme 2",
        "colors": {
            "surface": "#ffffff",
            "primary": "#197df6",
            "bgPage": "#ffffff",
            "groupBg": "#eaebf2",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4505e43f73f5bb65",
        "type": "ui-theme",
        "name": "Theme 3",
        "colors": {
            "surface": "#ffffff",
            "primary": "#197df6",
            "bgPage": "#ffffff",
            "groupBg": "#eaebf2",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "761f894caf8c29a0",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "a305fd37e215ef10",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "6010da9ddfe87f49",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "84dc993d0c56fde2",
        "type": "ui-group",
        "name": "speed-graph",
        "page": "761f894caf8c29a0",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "968e40306a0e5d09",
        "type": "ui-group",
        "name": "inclination-battery-counter",
        "page": "761f894caf8c29a0",
        "width": "3",
        "height": "5",
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b953d24eec769a19",
        "type": "ui-group",
        "name": "remote-controls",
        "page": "761f894caf8c29a0",
        "width": "9",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc5e2b12dc57b4d2",
        "type": "ui-group",
        "name": "trip-history",
        "page": "761f894caf8c29a0",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bac957b61e489ccf",
        "type": "ui-spacer",
        "group": "b953d24eec769a19",
        "name": "spacer",
        "tooltip": "",
        "order": 5,
        "width": "3",
        "height": "2",
        "className": ""
    },
    {
        "id": "6f0fe5457d632b4a",
        "type": "ui-group",
        "name": "action-buttons",
        "page": "761f894caf8c29a0",
        "width": "6",
        "height": 1,
        "order": 5,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "06e0f035061894ca",
        "type": "mongodb",
        "hostname": "localhost",
        "port": 27017,
        "db": "mydbname",
        "name": "mongo DB"
    },
    {
        "id": "5b4514ee8cc27963",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/batteryPercentage",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "362cc42f1c2445d0"
            ]
        ]
    },
    {
        "id": "362cc42f1c2445d0",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "c0764b9d6a8e8171"
            ]
        ]
    },
    {
        "id": "5348e2b0941b3dc3",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/speed",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "de685a440d2a33a3"
            ]
        ]
    },
    {
        "id": "de685a440d2a33a3",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "b961cfc39090679a"
            ]
        ]
    },
    {
        "id": "97fd2d2a508a1649",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/inclination",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 540,
        "wires": [
            [
                "444d753e9ae0697d"
            ]
        ]
    },
    {
        "id": "444d753e9ae0697d",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "10bf512b2845bb49"
            ]
        ]
    },
    {
        "id": "14dc4700b172c15a",
        "type": "comment",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "info": "Change to send to the BD \n",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "c0764b9d6a8e8171",
        "type": "link out",
        "z": "0bd2db54d49cbc75",
        "name": "battery-ui-out",
        "mode": "link",
        "links": [
            "5864e1dd3acf404f"
        ],
        "x": 555,
        "y": 260,
        "wires": []
    },
    {
        "id": "b961cfc39090679a",
        "type": "link out",
        "z": "0bd2db54d49cbc75",
        "name": "speed-ui-out",
        "mode": "link",
        "links": [
            "8de93432084d82a9"
        ],
        "x": 555,
        "y": 400,
        "wires": []
    },
    {
        "id": "10bf512b2845bb49",
        "type": "link out",
        "z": "0bd2db54d49cbc75",
        "name": "inclination-ui-out",
        "mode": "link",
        "links": [
            "f032412d5b6d49d5"
        ],
        "x": 555,
        "y": 540,
        "wires": []
    },
    {
        "id": "ac5110c09d4f7a62",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "96650e7ae853d9b4",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "up-vehicle-in",
        "links": [
            "845405278432f9ec"
        ],
        "x": 115,
        "y": 680,
        "wires": [
            [
                "12b4b9e7e5d7a25b"
            ]
        ]
    },
    {
        "id": "aad95e775b50277d",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "down-vehicle-in",
        "links": [
            "5a853324c43e774c"
        ],
        "x": 115,
        "y": 740,
        "wires": [
            [
                "758a6412f1e2207a"
            ]
        ]
    },
    {
        "id": "591c36f5cc43641f",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "left-vehicle-in",
        "links": [
            "8ce55e31bd8bf49e"
        ],
        "x": 115,
        "y": 800,
        "wires": [
            [
                "1a62920338b530ba"
            ]
        ]
    },
    {
        "id": "c2d1dcfcc494ac62",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "right-vehicle-in",
        "links": [
            "cdcad2896a041dc0"
        ],
        "x": 115,
        "y": 860,
        "wires": [
            [
                "1db7b03b88ce450c"
            ]
        ]
    },
    {
        "id": "9b119a9ccf501c2c",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "9d4cf2b8bd787203",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 800,
        "wires": []
    },
    {
        "id": "977223f9a00ab567",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "12b4b9e7e5d7a25b",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"up\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 680,
        "wires": [
            [
                "ac5110c09d4f7a62"
            ]
        ]
    },
    {
        "id": "758a6412f1e2207a",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"down\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 740,
        "wires": [
            [
                "9b119a9ccf501c2c"
            ]
        ]
    },
    {
        "id": "1a62920338b530ba",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"left\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 800,
        "wires": [
            [
                "9d4cf2b8bd787203"
            ]
        ]
    },
    {
        "id": "1db7b03b88ce450c",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"rgt\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 860,
        "wires": [
            [
                "977223f9a00ab567"
            ]
        ]
    },
    {
        "id": "28692d570ddcd315",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "360-vehicle-in",
        "links": [
            "def129317ec2f23e"
        ],
        "x": 115,
        "y": 1280,
        "wires": [
            [
                "e974e215e42c4a23"
            ]
        ]
    },
    {
        "id": "e974e215e42c4a23",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"360\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1280,
        "wires": [
            [
                "a3c66ecf6bba2bf9"
            ]
        ]
    },
    {
        "id": "a3c66ecf6bba2bf9",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/actions",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 1280,
        "wires": []
    },
    {
        "id": "15d1b4c4350ce49f",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "square-vehicle-in",
        "links": [
            "6a2dcfedb5c9f4d2"
        ],
        "x": 115,
        "y": 1340,
        "wires": [
            [
                "6bbc639f2cecfe5c"
            ]
        ]
    },
    {
        "id": "6bbc639f2cecfe5c",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"sqr\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sqr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "142899e6e6948d2a"
            ]
        ]
    },
    {
        "id": "142899e6e6948d2a",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/actions",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8183a1251a010beb",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 940,
        "wires": []
    },
    {
        "id": "d7b15da505ce710f",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "dlf-vehicle-in",
        "links": [
            "9e9f74b4e7f5609f"
        ],
        "x": 115,
        "y": 940,
        "wires": [
            [
                "f72cfccb7d31ba89"
            ]
        ]
    },
    {
        "id": "f72cfccb7d31ba89",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"dlf\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dlf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 940,
        "wires": [
            [
                "8183a1251a010beb"
            ]
        ]
    },
    {
        "id": "852c52e25748d558",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 1000,
        "wires": []
    },
    {
        "id": "813a2ce2032e0a68",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "drf-vehicle-in",
        "links": [
            "16be5a8ad8d8a6df"
        ],
        "x": 115,
        "y": 1000,
        "wires": [
            [
                "6216efb8879bec33"
            ]
        ]
    },
    {
        "id": "6216efb8879bec33",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"drf\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "drf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "852c52e25748d558"
            ]
        ]
    },
    {
        "id": "e1963a511fd29127",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 1060,
        "wires": []
    },
    {
        "id": "04ff249eb3fc3e91",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "dlb-vehicle-in",
        "links": [
            "41d614ac605c450f"
        ],
        "x": 115,
        "y": 1060,
        "wires": [
            [
                "38fe84b4bf80c723"
            ]
        ]
    },
    {
        "id": "38fe84b4bf80c723",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"dlb\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dlb",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "e1963a511fd29127"
            ]
        ]
    },
    {
        "id": "71524203e91cc815",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "71b1b56f3404ed65",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "drb-vehicle-in",
        "links": [
            "dd8f82576d532b9d"
        ],
        "x": 115,
        "y": 1120,
        "wires": [
            [
                "5f85ce93e5f70bf1"
            ]
        ]
    },
    {
        "id": "5f85ce93e5f70bf1",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"drb\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "drb",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1120,
        "wires": [
            [
                "71524203e91cc815"
            ]
        ]
    },
    {
        "id": "5403bb36aaf3f229",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "square-vehicle-in",
        "links": [
            "9e6c5e84ca5e938e"
        ],
        "x": 115,
        "y": 1400,
        "wires": [
            [
                "b22a96deb97516f8"
            ]
        ]
    },
    {
        "id": "b22a96deb97516f8",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "set payload to \"sd\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1400,
        "wires": [
            [
                "3abe516cbedd880a"
            ]
        ]
    },
    {
        "id": "3abe516cbedd880a",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "ui/actions",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 580,
        "y": 1400,
        "wires": []
    },
    {
        "id": "da2e405cc625d4fb",
        "type": "ui-chart",
        "z": "4abfefc95226429e",
        "group": "84dc993d0c56fde2",
        "name": "Speeds History",
        "label": "Speeds History",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "15",
        "removeOlderUnit": "1",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "8",
        "className": "",
        "interpolation": "linear",
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5864e1dd3acf404f",
        "type": "link in",
        "z": "4abfefc95226429e",
        "name": "battery-ui-in",
        "links": [
            "c0764b9d6a8e8171"
        ],
        "x": 565,
        "y": 180,
        "wires": [
            [
                "a4dfe9d48ed78c37",
                "3ae9f4afe525e8a7"
            ]
        ]
    },
    {
        "id": "a4dfe9d48ed78c37",
        "type": "ui-gauge",
        "z": "4abfefc95226429e",
        "name": "Battery Gauge",
        "group": "968e40306a0e5d09",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery Capacity",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "60",
                "color": "#5cd65c"
            },
            {
                "from": "25",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "8de93432084d82a9",
        "type": "link in",
        "z": "4abfefc95226429e",
        "name": "speed-ui-in",
        "links": [
            "b961cfc39090679a"
        ],
        "x": 105,
        "y": 120,
        "wires": [
            [
                "da2e405cc625d4fb"
            ]
        ]
    },
    {
        "id": "f032412d5b6d49d5",
        "type": "link in",
        "z": "4abfefc95226429e",
        "name": "battery-ui-in",
        "links": [
            "10bf512b2845bb49"
        ],
        "x": 565,
        "y": 120,
        "wires": [
            [
                "89169a9e7c94b49e"
            ]
        ]
    },
    {
        "id": "89169a9e7c94b49e",
        "type": "ui-gauge",
        "z": "4abfefc95226429e",
        "name": "Inclination",
        "group": "968e40306a0e5d09",
        "order": 1,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vehicle Inclination",
        "units": "degrees",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-95",
                "color": "#ea5353"
            },
            {
                "from": "-80",
                "color": "#ffc800"
            },
            {
                "from": "-35",
                "color": "#5cd65c"
            },
            {
                "from": "35",
                "color": "#ffc800"
            },
            {
                "from": "80",
                "color": "#ea5353"
            }
        ],
        "min": "-95",
        "max": "95",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "01e73c67e54de6c5",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "up-button",
        "label": "",
        "order": 2,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-up",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "845405278432f9ec"
            ]
        ]
    },
    {
        "id": "845405278432f9ec",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "up-ui-out",
        "mode": "link",
        "links": [
            "96650e7ae853d9b4"
        ],
        "x": 285,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c870d3da05a26bc",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "down-button",
        "label": "",
        "order": 8,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-down",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "5a853324c43e774c"
            ]
        ]
    },
    {
        "id": "5a853324c43e774c",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "down-ui-out",
        "mode": "link",
        "links": [
            "aad95e775b50277d"
        ],
        "x": 285,
        "y": 500,
        "wires": []
    },
    {
        "id": "2b515a9d7d031564",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "left-button",
        "label": "",
        "order": 4,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "8ce55e31bd8bf49e"
            ]
        ]
    },
    {
        "id": "8ce55e31bd8bf49e",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "left-ui-out",
        "mode": "link",
        "links": [
            "591c36f5cc43641f"
        ],
        "x": 285,
        "y": 560,
        "wires": []
    },
    {
        "id": "37ef321bbb561d2c",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "right-button",
        "label": "",
        "order": 6,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "cdcad2896a041dc0"
            ]
        ]
    },
    {
        "id": "cdcad2896a041dc0",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "right-ui-out",
        "mode": "link",
        "links": [
            "c2d1dcfcc494ac62"
        ],
        "x": 285,
        "y": 620,
        "wires": []
    },
    {
        "id": "3ae9f4afe525e8a7",
        "type": "debug",
        "z": "4abfefc95226429e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "0851420853c812af",
        "type": "debug",
        "z": "4abfefc95226429e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "4abfefc95226429e",
        "name": "Inject payload",
        "repeat": "0",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":\"1\",\"Date\":\"03/03/2025\",\"Duration\":\"90\"},{\"ID\":\"2\",\"Date\":\"04/15/2025\",\"Duration\":\"120\"},{\"ID\":\"3\",\"Date\":\"05/22/2025\",\"Duration\":\"75\"},{\"ID\":\"4\",\"Date\":\"06/10/2025\",\"Duration\":\"60\"},{\"ID\":\"5\",\"Date\":\"07/30/2025\",\"Duration\":\"150\"},{\"ID\":\"6\",\"Date\":\"08/18/2025\",\"Duration\":\"180\"},{\"ID\":\"7\",\"Date\":\"09/05/2025\",\"Duration\":\"110\"}]",
        "payloadType": "json",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "0851420853c812af",
                "ui_table1"
            ]
        ]
    },
    {
        "id": "ui_table1",
        "type": "ui-table",
        "z": "4abfefc95226429e",
        "group": "bc5e2b12dc57b4d2",
        "name": "Trips History",
        "label": "Trips History",
        "order": 1,
        "width": "3",
        "height": "1",
        "maxrows": "",
        "autocols": true,
        "showSearch": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "ID",
                "key": "",
                "keyType": "key",
                "width": "10%"
            },
            {
                "title": "Date",
                "key": "",
                "keyType": "key",
                "width": "30%"
            },
            {
                "title": "Duration",
                "key": "",
                "keyType": "key",
                "width": "30%"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "da1cebbf4030982f",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "360",
        "label": "360",
        "order": 1,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "def129317ec2f23e"
            ]
        ]
    },
    {
        "id": "def129317ec2f23e",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "360-ui-out",
        "mode": "link",
        "links": [
            "28692d570ddcd315"
        ],
        "x": 305,
        "y": 1040,
        "wires": []
    },
    {
        "id": "31d82278e5b28c88",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "Square",
        "label": "Square",
        "order": 2,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "6a2dcfedb5c9f4d2"
            ]
        ]
    },
    {
        "id": "6a2dcfedb5c9f4d2",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "square-ui-out",
        "mode": "link",
        "links": [
            "15d1b4c4350ce49f"
        ],
        "x": 305,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b6b9e880835d1e4d",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-right-foward",
        "label": "",
        "order": 3,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-top-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "16be5a8ad8d8a6df"
            ]
        ]
    },
    {
        "id": "16be5a8ad8d8a6df",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "drf-ui-out",
        "mode": "link",
        "links": [
            "813a2ce2032e0a68"
        ],
        "x": 345,
        "y": 760,
        "wires": []
    },
    {
        "id": "44d9072e1fd6fc42",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-left-foward",
        "label": "",
        "order": 1,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-top-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "9e9f74b4e7f5609f"
            ]
        ]
    },
    {
        "id": "9e9f74b4e7f5609f",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "dlf-ui-out",
        "mode": "link",
        "links": [
            "d7b15da505ce710f"
        ],
        "x": 345,
        "y": 700,
        "wires": []
    },
    {
        "id": "bcfe0b92f7869914",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-left-back",
        "label": "",
        "order": 7,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-bottom-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "41d614ac605c450f"
            ]
        ]
    },
    {
        "id": "41d614ac605c450f",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "dlb-ui-out",
        "mode": "link",
        "links": [
            "04ff249eb3fc3e91"
        ],
        "x": 345,
        "y": 820,
        "wires": []
    },
    {
        "id": "df06378b58b58b02",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-right-back",
        "label": "",
        "order": 9,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-bottom-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "dd8f82576d532b9d"
            ]
        ]
    },
    {
        "id": "dd8f82576d532b9d",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "drb-ui-out",
        "mode": "link",
        "links": [
            "71b1b56f3404ed65"
        ],
        "x": 345,
        "y": 880,
        "wires": []
    },
    {
        "id": "565b66d522b831bc",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "self-driving",
        "label": "Self Driving",
        "order": 3,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "9e6c5e84ca5e938e"
            ]
        ]
    },
    {
        "id": "9e6c5e84ca5e938e",
        "type": "link out",
        "z": "4abfefc95226429e",
        "name": "self-driving-ui-out",
        "mode": "link",
        "links": [
            "5403bb36aaf3f229"
        ],
        "x": 305,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cc55b3301a471ff6",
        "type": "mongodb in",
        "z": "4abfefc95226429e",
        "mongodb": "06e0f035061894ca",
        "name": "",
        "collection": "velocities",
        "operation": "find",
        "x": 220,
        "y": 1320,
        "wires": [
            [
                "75d740aefbfa8d95"
            ]
        ]
    },
    {
        "id": "0f4a40a89dd9cae4",
        "type": "mongodb out",
        "z": "4abfefc95226429e",
        "mongodb": "06e0f035061894ca",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 490,
        "y": 1440,
        "wires": []
    },
    {
        "id": "75d740aefbfa8d95",
        "type": "debug",
        "z": "4abfefc95226429e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1320,
        "wires": []
    }
]