data/.flows.json.backup
[
    {
        "id": "0bd2db54d49cbc75",
        "type": "tab",
        "label": "Vehicle Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4abfefc95226429e",
        "type": "tab",
        "label": "Move car (vroom vroom edition)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6c4a67240bb059c",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4e5cd9e434f5567",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dffaf68dd69c6f57",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "172.28.0.10",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a305fd37e215ef10",
        "type": "ui-base",
        "name": "Vroom Vroom",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "dashboard",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "6010da9ddfe87f49",
        "type": "ui-theme",
        "name": "Theme 2",
        "colors": {
            "surface": "#ffffff",
            "primary": "#197df6",
            "bgPage": "#ffffff",
            "groupBg": "#eaebf2",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "761f894caf8c29a0",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "a305fd37e215ef10",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "6010da9ddfe87f49",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "84dc993d0c56fde2",
        "type": "ui-group",
        "name": "speed-graph",
        "page": "761f894caf8c29a0",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "968e40306a0e5d09",
        "type": "ui-group",
        "name": "inclination-battery-counter",
        "page": "761f894caf8c29a0",
        "width": "3",
        "height": "5",
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b953d24eec769a19",
        "type": "ui-group",
        "name": "remote-controls",
        "page": "761f894caf8c29a0",
        "width": "9",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc5e2b12dc57b4d2",
        "type": "ui-group",
        "name": "trip-history",
        "page": "761f894caf8c29a0",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6f0fe5457d632b4a",
        "type": "ui-group",
        "name": "action-buttons",
        "page": "761f894caf8c29a0",
        "width": "6",
        "height": 1,
        "order": 5,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c4bd5f065e06f4ad",
        "type": "mongodb4-client",
        "name": "mongo",
        "protocol": "mongodb",
        "hostname": "172.28.0.30",
        "port": "27017",
        "dbName": "mydbname",
        "appName": "",
        "authSource": "admin",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://localhost:27017",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "e61b6e1b61129336",
        "type": "ui-group",
        "name": "Active Status",
        "page": "761f894caf8c29a0",
        "width": "2",
        "height": "2",
        "order": 6,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5b4514ee8cc27963",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/batteryPercentage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "362cc42f1c2445d0"
            ]
        ]
    },
    {
        "id": "362cc42f1c2445d0",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "b6a342068968cdf4",
                "6e4cb09bfb1deb27"
            ]
        ]
    },
    {
        "id": "5348e2b0941b3dc3",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/speed",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "de685a440d2a33a3"
            ]
        ]
    },
    {
        "id": "de685a440d2a33a3",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "0159a590f46c26f4"
            ]
        ]
    },
    {
        "id": "97fd2d2a508a1649",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/inclination",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "444d753e9ae0697d"
            ]
        ]
    },
    {
        "id": "444d753e9ae0697d",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "fddaaa8e2d5bec8d"
            ]
        ]
    },
    {
        "id": "b6a342068968cdf4",
        "type": "ui-gauge",
        "z": "0bd2db54d49cbc75",
        "name": "Battery Gauge",
        "group": "968e40306a0e5d09",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery Capacity",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "60",
                "color": "#5cd65c"
            },
            {
                "from": "25",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "fddaaa8e2d5bec8d",
        "type": "ui-gauge",
        "z": "0bd2db54d49cbc75",
        "name": "Inclination",
        "group": "968e40306a0e5d09",
        "order": 1,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vehicle Inclination",
        "units": "degrees",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-95",
                "color": "#ea5353"
            },
            {
                "from": "-80",
                "color": "#ffc800"
            },
            {
                "from": "-35",
                "color": "#5cd65c"
            },
            {
                "from": "35",
                "color": "#ffc800"
            },
            {
                "from": "80",
                "color": "#ea5353"
            }
        ],
        "min": "-95",
        "max": "95",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "6e4cb09bfb1deb27",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "72a4a20ebe4d2286",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/trips",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": true,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "e8d8b8cadd302c4f",
                "4a69c464bde95e98"
            ]
        ]
    },
    {
        "id": "e8d8b8cadd302c4f",
        "type": "switch",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "912c3eeaede07e4e"
            ],
            [
                "83dd708e4dca2964"
            ]
        ]
    },
    {
        "id": "8b6d9b14be343bc2",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "trips",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "3c6fab748b69c78c",
                "cacbaa42426609d5"
            ]
        ]
    },
    {
        "id": "49922b8cdcf37909",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "trips",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "3c6fab748b69c78c"
            ]
        ]
    },
    {
        "id": "912c3eeaede07e4e",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.action",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.startDate",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "8b6d9b14be343bc2"
            ]
        ]
    },
    {
        "id": "88c1a8d514702f6b",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/trips",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "83dd708e4dca2964",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ { \"_id\": msg.payload.id }, { \"$set\": { \"endDate\": $now() } } ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "49922b8cdcf37909"
            ]
        ]
    },
    {
        "id": "45d84b90a8aa693c",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "speeds",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 700,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0159a590f46c26f4",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "45d84b90a8aa693c",
                "6a779fb3439f524a"
            ]
        ]
    },
    {
        "id": "1bb7fb2071d1c395",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "speeds",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "6a779fb3439f524a"
            ]
        ]
    },
    {
        "id": "7ef967e05a75ab52",
        "type": "inject",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "1bb7fb2071d1c395",
                "eeaba8cd9c78ebc7"
            ]
        ]
    },
    {
        "id": "6a779fb3439f524a",
        "type": "ui-chart",
        "z": "0bd2db54d49cbc75",
        "group": "84dc993d0c56fde2",
        "name": "Speeds History",
        "label": "Speeds History",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Time",
        "xAxisProperty": "date",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Speed",
        "yAxisProperty": "speed",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "8",
        "className": "",
        "interpolation": "bezier",
        "x": 720,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "434760efb916dd59",
        "type": "comment",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "info": "example:\n\n{\n    \"action\": \"start\",\n}\n\n\n{\n    \"action\": \"end\",\n    \"id\": \"\",\n}\n",
        "x": 80,
        "y": 360,
        "wires": []
    },
    {
        "id": "66001e3acefac83e",
        "type": "comment",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "info": "example:\n\n{\n    \"speed\": 19.99\n}\n",
        "x": 80,
        "y": 500,
        "wires": []
    },
    {
        "id": "eeaba8cd9c78ebc7",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "trips",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "7491135a8b2ad5e7"
            ]
        ]
    },
    {
        "id": "7491135a8b2ad5e7",
        "type": "ui-table",
        "z": "0bd2db54d49cbc75",
        "group": "bc5e2b12dc57b4d2",
        "name": "",
        "label": "Trips",
        "order": 1,
        "width": "3",
        "height": "1",
        "maxrows": "4",
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "Start Date",
                "key": "startDate",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "End Date",
                "key": "endDate",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 690,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3c6fab748b69c78c",
        "type": "link out",
        "z": "0bd2db54d49cbc75",
        "name": "Insert on table",
        "mode": "link",
        "links": [
            "1fd298eafbb9e075"
        ],
        "x": 805,
        "y": 300,
        "wires": []
    },
    {
        "id": "1fd298eafbb9e075",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "link in 1",
        "links": [
            "3c6fab748b69c78c"
        ],
        "x": 35,
        "y": 740,
        "wires": [
            [
                "f0f1dcc95c2dd7c2"
            ]
        ]
    },
    {
        "id": "f0f1dcc95c2dd7c2",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 740,
        "wires": [
            [
                "eeaba8cd9c78ebc7"
            ]
        ]
    },
    {
        "id": "cacbaa42426609d5",
        "type": "template",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "id {{payload.insertedId}};",
        "output": "str",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "88c1a8d514702f6b",
                "03657acac008fec3"
            ]
        ]
    },
    {
        "id": "4a69c464bde95e98",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 360,
        "wires": []
    },
    {
        "id": "03657acac008fec3",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "7ee15852db7c9861",
        "type": "ui-text",
        "z": "0bd2db54d49cbc75",
        "group": "e61b6e1b61129336",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vehicle Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1000,
        "y": 840,
        "wires": []
    },
    {
        "id": "c5e19315b1be8268",
        "type": "trigger",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "op1": "",
        "op2": "Offline ❌",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 800,
        "wires": [
            [
                "7ee15852db7c9861",
                "d7ff2ecec9ff5bfe"
            ]
        ]
    },
    {
        "id": "d65374508c9ca972",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Online ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 860,
        "wires": [
            [
                "c5e19315b1be8268",
                "69b00d9c0aa719c5"
            ]
        ]
    },
    {
        "id": "f2b85884a1f5c573",
        "type": "switch",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 840,
        "wires": [
            [
                "c5e19315b1be8268",
                "3daab1fc36cdd9ba"
            ],
            [
                "d65374508c9ca972",
                "ab2f55cb560cf2a9"
            ]
        ]
    },
    {
        "id": "69b00d9c0aa719c5",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "reset",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 860,
        "wires": [
            [
                "7ee15852db7c9861",
                "3e071bcdee1ca775"
            ]
        ]
    },
    {
        "id": "e4c41bff3dcdb396",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/ping",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": true,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 840,
        "wires": [
            [
                "f2b85884a1f5c573",
                "46bb9bf297ca501e"
            ]
        ]
    },
    {
        "id": "cbae8c03dd24f3a2",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/ping",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "text/plain",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 330,
        "y": 900,
        "wires": []
    },
    {
        "id": "e05f710a0180a8ab",
        "type": "inject",
        "z": "0bd2db54d49cbc75",
        "name": "Check Active",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ping;",
        "payloadType": "str",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "cbae8c03dd24f3a2",
                "3ecb69caeab0e900"
            ]
        ]
    },
    {
        "id": "46bb9bf297ca501e",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 780,
        "wires": []
    },
    {
        "id": "3e071bcdee1ca775",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "d7ff2ecec9ff5bfe",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "3daab1fc36cdd9ba",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 780,
        "wires": []
    },
    {
        "id": "ab2f55cb560cf2a9",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 980,
        "wires": []
    },
    {
        "id": "3ecb69caeab0e900",
        "type": "link out",
        "z": "0bd2db54d49cbc75",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "9ac050fa76d216d1"
        ],
        "x": 255,
        "y": 980,
        "wires": []
    },
    {
        "id": "9ac050fa76d216d1",
        "type": "link in",
        "z": "0bd2db54d49cbc75",
        "name": "link in 2",
        "links": [
            "3ecb69caeab0e900"
        ],
        "x": 605,
        "y": 740,
        "wires": [
            [
                "c5e19315b1be8268"
            ]
        ]
    },
    {
        "id": "01e73c67e54de6c5",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "up-button",
        "label": "",
        "order": 2,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-up",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "d9fca869c5b4928e"
            ]
        ]
    },
    {
        "id": "8c870d3da05a26bc",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "down-button",
        "label": "",
        "order": 8,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-down",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "d1870c705f14a765"
            ]
        ]
    },
    {
        "id": "2b515a9d7d031564",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "left-button",
        "label": "",
        "order": 4,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "697d3cd9a24ae1c6"
            ]
        ]
    },
    {
        "id": "37ef321bbb561d2c",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "right-button",
        "label": "",
        "order": 6,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "0870cd0d5c729e41"
            ]
        ]
    },
    {
        "id": "da1cebbf4030982f",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "360",
        "label": "360",
        "order": 1,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "67dc7f68204bab7c"
            ]
        ]
    },
    {
        "id": "31d82278e5b28c88",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "Square",
        "label": "Square",
        "order": 2,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "61e6717a976582f0"
            ]
        ]
    },
    {
        "id": "b6b9e880835d1e4d",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-right-foward",
        "label": "",
        "order": 3,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-top-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "5e5a44d740f532ec"
            ]
        ]
    },
    {
        "id": "44d9072e1fd6fc42",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-left-foward",
        "label": "",
        "order": 1,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-top-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "188f55b22adf5069"
            ]
        ]
    },
    {
        "id": "bcfe0b92f7869914",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-left-back",
        "label": "",
        "order": 7,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-bottom-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "978b18fcad318b30"
            ]
        ]
    },
    {
        "id": "df06378b58b58b02",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-right-back",
        "label": "",
        "order": 9,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-bottom-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "c27220f421aab8ff"
            ]
        ]
    },
    {
        "id": "565b66d522b831bc",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "self-driving",
        "label": "Self Driving",
        "order": 3,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "af61c11e1caa9ff1"
            ]
        ]
    },
    {
        "id": "416bbf912dcf2511",
        "type": "mqtt out",
        "z": "4abfefc95226429e",
        "name": "",
        "topic": "vehicle/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "d9fca869c5b4928e",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"up\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "d1870c705f14a765",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"down\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "697d3cd9a24ae1c6",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"left\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "left;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "0870cd0d5c729e41",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"rgt\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgt;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "188f55b22adf5069",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"dlf\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dlf;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "5e5a44d740f532ec",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"drf\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "drf;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "978b18fcad318b30",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"dlb\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dlb;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "c27220f421aab8ff",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"drb\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "drb;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "67dc7f68204bab7c",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"360\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "360;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "4f2cd41146afb778"
            ]
        ]
    },
    {
        "id": "61e6717a976582f0",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"sqr\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sqr;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 740,
        "wires": [
            [
                "4f2cd41146afb778"
            ]
        ]
    },
    {
        "id": "af61c11e1caa9ff1",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"sd\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sd;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "4f2cd41146afb778"
            ]
        ]
    },
    {
        "id": "4f2cd41146afb778",
        "type": "mqtt out",
        "z": "4abfefc95226429e",
        "name": "",
        "topic": "vehicle/actions",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "4d59377f224f53d3",
        "type": "ui-slider",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "Speed Slider",
        "label": "speed",
        "tooltip": "",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "255",
        "step": "15",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 150,
        "y": 880,
        "wires": [
            [
                "bfca478a4c91975a"
            ]
        ]
    },
    {
        "id": "bfca478a4c91975a",
        "type": "template",
        "z": "4abfefc95226429e",
        "name": "Send Speed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}};",
        "output": "str",
        "x": 450,
        "y": 880,
        "wires": [
            [
                "bfdb494f1b8e06da"
            ]
        ]
    },
    {
        "id": "bfdb494f1b8e06da",
        "type": "mqtt out",
        "z": "4abfefc95226429e",
        "name": "",
        "topic": "vehicle/speed",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 760,
        "y": 880,
        "wires": []
    },
    {
        "id": "0a0590f3f8456950",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "stop",
        "label": "",
        "order": 5,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "payload": "stop;",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "4a693eafa0c30293",
        "type": "trigger",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "op1": "",
        "op2": "Offline ❌",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "bfe05b4d867b334e"
            ]
        ]
    },
    {
        "id": "411ee745138899d0",
        "type": "change",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Online ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "4a693eafa0c30293",
                "4f36671224033fa2"
            ]
        ]
    },
    {
        "id": "c3bcb95c40f50b53",
        "type": "switch",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "4a693eafa0c30293"
            ],
            [
                "411ee745138899d0"
            ]
        ]
    },
    {
        "id": "bfe05b4d867b334e",
        "type": "rbe",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1030,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4f36671224033fa2",
        "type": "change",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "reset",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "bfe05b4d867b334e"
            ]
        ]
    },
    {
        "id": "fe835cddd026376a",
        "type": "mqtt in",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "topic": "vehicle/ping",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": true,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "c3bcb95c40f50b53"
            ]
        ]
    },
    {
        "id": "8a82ccbbc58d4cc0",
        "type": "mqtt out",
        "z": "f4e5cd9e434f5567",
        "name": "",
        "topic": "vehicle/ping",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "text/plain",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "803b2b48ee30a748",
        "type": "inject",
        "z": "f4e5cd9e434f5567",
        "name": "Check Active",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ping;",
        "payloadType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "8a82ccbbc58d4cc0"
            ]
        ]
    }
]