data/flows.json
[
    {
        "id": "0bd2db54d49cbc75",
        "type": "tab",
        "label": "Vehicle Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4abfefc95226429e",
        "type": "tab",
        "label": "Move car (vroom vroom edition)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6c4a67240bb059c",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dffaf68dd69c6f57",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "172.28.0.10",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a305fd37e215ef10",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "dashboard",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "6010da9ddfe87f49",
        "type": "ui-theme",
        "name": "Theme 2",
        "colors": {
            "surface": "#ffffff",
            "primary": "#197df6",
            "bgPage": "#ffffff",
            "groupBg": "#eaebf2",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "761f894caf8c29a0",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "a305fd37e215ef10",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "6010da9ddfe87f49",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "84dc993d0c56fde2",
        "type": "ui-group",
        "name": "speed-graph",
        "page": "761f894caf8c29a0",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "968e40306a0e5d09",
        "type": "ui-group",
        "name": "inclination-battery-counter",
        "page": "761f894caf8c29a0",
        "width": "3",
        "height": "5",
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b953d24eec769a19",
        "type": "ui-group",
        "name": "remote-controls",
        "page": "761f894caf8c29a0",
        "width": "9",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc5e2b12dc57b4d2",
        "type": "ui-group",
        "name": "trip-history",
        "page": "761f894caf8c29a0",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bac957b61e489ccf",
        "type": "ui-spacer",
        "group": "b953d24eec769a19",
        "name": "spacer",
        "tooltip": "",
        "order": 5,
        "width": "3",
        "height": "2",
        "className": ""
    },
    {
        "id": "6f0fe5457d632b4a",
        "type": "ui-group",
        "name": "action-buttons",
        "page": "761f894caf8c29a0",
        "width": "6",
        "height": 1,
        "order": 5,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c4bd5f065e06f4ad",
        "type": "mongodb4-client",
        "name": "mongo",
        "protocol": "mongodb",
        "hostname": "172.28.0.30",
        "port": "27017",
        "dbName": "mydbname",
        "appName": "",
        "authSource": "admin",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://localhost:27017",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "5b4514ee8cc27963",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/batteryPercentage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "362cc42f1c2445d0"
            ]
        ]
    },
    {
        "id": "362cc42f1c2445d0",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "b6a342068968cdf4",
                "6e4cb09bfb1deb27"
            ]
        ]
    },
    {
        "id": "5348e2b0941b3dc3",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/speed",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "de685a440d2a33a3",
                "c4b43e5720bdedeb"
            ]
        ]
    },
    {
        "id": "de685a440d2a33a3",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "c0cdabbbb177a56c"
            ]
        ]
    },
    {
        "id": "97fd2d2a508a1649",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/inclination",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "444d753e9ae0697d"
            ]
        ]
    },
    {
        "id": "444d753e9ae0697d",
        "type": "rbe",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "fddaaa8e2d5bec8d"
            ]
        ]
    },
    {
        "id": "14dc4700b172c15a",
        "type": "comment",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "info": "Change to send to the BD \n",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "b6a342068968cdf4",
        "type": "ui-gauge",
        "z": "0bd2db54d49cbc75",
        "name": "Battery Gauge",
        "group": "968e40306a0e5d09",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery Capacity",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "60",
                "color": "#5cd65c"
            },
            {
                "from": "25",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "fddaaa8e2d5bec8d",
        "type": "ui-gauge",
        "z": "0bd2db54d49cbc75",
        "name": "Inclination",
        "group": "968e40306a0e5d09",
        "order": 1,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vehicle Inclination",
        "units": "degrees",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-95",
                "color": "#ea5353"
            },
            {
                "from": "-80",
                "color": "#ffc800"
            },
            {
                "from": "-35",
                "color": "#5cd65c"
            },
            {
                "from": "35",
                "color": "#ffc800"
            },
            {
                "from": "80",
                "color": "#ea5353"
            }
        ],
        "min": "-95",
        "max": "95",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "6e4cb09bfb1deb27",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "c0cdabbbb177a56c",
        "type": "ui-chart",
        "z": "0bd2db54d49cbc75",
        "group": "84dc993d0c56fde2",
        "name": "Speeds History",
        "label": "Speeds History",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "8",
        "className": "",
        "interpolation": "linear",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "662badd4adbd76e6",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 680,
        "wires": []
    },
    {
        "id": "6a36911eb709c48e",
        "type": "inject",
        "z": "0bd2db54d49cbc75",
        "name": "Inject payload",
        "repeat": "0",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ID\":\"1\",\"Date\":\"03/03/2025\",\"Duration\":\"90\"},{\"ID\":\"2\",\"Date\":\"04/15/2025\",\"Duration\":\"120\"},{\"ID\":\"3\",\"Date\":\"05/22/2025\",\"Duration\":\"75\"},{\"ID\":\"4\",\"Date\":\"06/10/2025\",\"Duration\":\"60\"},{\"ID\":\"5\",\"Date\":\"07/30/2025\",\"Duration\":\"150\"},{\"ID\":\"6\",\"Date\":\"08/18/2025\",\"Duration\":\"180\"},{\"ID\":\"7\",\"Date\":\"09/05/2025\",\"Duration\":\"110\"}]",
        "payloadType": "json",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "662badd4adbd76e6",
                "e98662825e247cfd"
            ]
        ]
    },
    {
        "id": "e98662825e247cfd",
        "type": "ui-table",
        "z": "0bd2db54d49cbc75",
        "group": "bc5e2b12dc57b4d2",
        "name": "Trips History",
        "label": "Trips History",
        "order": 1,
        "width": "3",
        "height": "1",
        "maxrows": "",
        "autocols": true,
        "showSearch": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "ID",
                "key": "",
                "keyType": "key",
                "width": "10%"
            },
            {
                "title": "Date",
                "key": "",
                "keyType": "key",
                "width": "30%"
            },
            {
                "title": "Duration",
                "key": "",
                "keyType": "key",
                "width": "30%"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "x": 370,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b43e5720bdedeb",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "df3571304002762d",
        "type": "inject",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "120",
        "payloadType": "num",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "1277980d4e4b9577",
                "67278bb7672af4ec"
            ]
        ]
    },
    {
        "id": "1277980d4e4b9577",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/speed",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "67278bb7672af4ec",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 860,
        "wires": []
    },
    {
        "id": "72a4a20ebe4d2286",
        "type": "mqtt in",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/trips",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dffaf68dd69c6f57",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "e8d8b8cadd302c4f"
            ]
        ]
    },
    {
        "id": "e8d8b8cadd302c4f",
        "type": "switch",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "912c3eeaede07e4e",
                "9d7b9e3195df52a0"
            ],
            [
                "391e97b8d433e511",
                "9d7b9e3195df52a0"
            ]
        ]
    },
    {
        "id": "8b6d9b14be343bc2",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "trips",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "88c1a8d514702f6b",
                "81d95bb26f9167fc"
            ]
        ]
    },
    {
        "id": "49922b8cdcf37909",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "trips",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "058c279c4629bee6",
                "c8de2821268efc04"
            ]
        ]
    },
    {
        "id": "c8de2821268efc04",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 580,
        "wires": []
    },
    {
        "id": "912c3eeaede07e4e",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.action",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload.date",
                "pt": "msg",
                "to": "payload.startDate",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "8b6d9b14be343bc2"
            ]
        ]
    },
    {
        "id": "c6a33027244ed727",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.endDate",
                "pt": "msg",
                "to": "endDate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "49922b8cdcf37909",
                "66a8363fbeb709ff"
            ]
        ]
    },
    {
        "id": "81d95bb26f9167fc",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "88c1a8d514702f6b",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/trips",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "e33a803a877b4ef9",
        "type": "mongodb4",
        "z": "0bd2db54d49cbc75",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "trips",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "c6a33027244ed727"
            ]
        ]
    },
    {
        "id": "391e97b8d433e511",
        "type": "change",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.action",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "endDate",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "e33a803a877b4ef9"
            ]
        ]
    },
    {
        "id": "058c279c4629bee6",
        "type": "mqtt out",
        "z": "0bd2db54d49cbc75",
        "name": "",
        "topic": "vehicle/trips",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 1290,
        "y": 440,
        "wires": []
    },
    {
        "id": "9d7b9e3195df52a0",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "66a8363fbeb709ff",
        "type": "debug",
        "z": "0bd2db54d49cbc75",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "01e73c67e54de6c5",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "up-button",
        "label": "",
        "order": 2,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-up",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "d9fca869c5b4928e"
            ]
        ]
    },
    {
        "id": "8c870d3da05a26bc",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "down-button",
        "label": "",
        "order": 8,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-down",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "d1870c705f14a765"
            ]
        ]
    },
    {
        "id": "2b515a9d7d031564",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "left-button",
        "label": "",
        "order": 4,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "697d3cd9a24ae1c6"
            ]
        ]
    },
    {
        "id": "37ef321bbb561d2c",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "right-button",
        "label": "",
        "order": 6,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "0870cd0d5c729e41"
            ]
        ]
    },
    {
        "id": "da1cebbf4030982f",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "360",
        "label": "360",
        "order": 1,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "67dc7f68204bab7c"
            ]
        ]
    },
    {
        "id": "31d82278e5b28c88",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "Square",
        "label": "Square",
        "order": 2,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "61e6717a976582f0"
            ]
        ]
    },
    {
        "id": "b6b9e880835d1e4d",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-right-foward",
        "label": "",
        "order": 3,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-top-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "5e5a44d740f532ec"
            ]
        ]
    },
    {
        "id": "44d9072e1fd6fc42",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-left-foward",
        "label": "",
        "order": 1,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-top-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "188f55b22adf5069"
            ]
        ]
    },
    {
        "id": "bcfe0b92f7869914",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-left-back",
        "label": "",
        "order": 7,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-bottom-left",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "978b18fcad318b30"
            ]
        ]
    },
    {
        "id": "df06378b58b58b02",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "b953d24eec769a19",
        "name": "diagonal-right-back",
        "label": "",
        "order": 9,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-bottom-right",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "c27220f421aab8ff"
            ]
        ]
    },
    {
        "id": "565b66d522b831bc",
        "type": "ui-button",
        "z": "4abfefc95226429e",
        "group": "6f0fe5457d632b4a",
        "name": "self-driving",
        "label": "Self Driving",
        "order": 3,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "af61c11e1caa9ff1"
            ]
        ]
    },
    {
        "id": "416bbf912dcf2511",
        "type": "mqtt out",
        "z": "4abfefc95226429e",
        "name": "",
        "topic": "vehicle/moves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "d9fca869c5b4928e",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"up\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "d1870c705f14a765",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"down\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "697d3cd9a24ae1c6",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"left\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "0870cd0d5c729e41",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"rgt\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "188f55b22adf5069",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"dlf\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dlf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "5e5a44d740f532ec",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"drf\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "drf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "978b18fcad318b30",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"dlb\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dlb",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "c27220f421aab8ff",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"drb\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "drb",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "416bbf912dcf2511"
            ]
        ]
    },
    {
        "id": "67dc7f68204bab7c",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"360\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "4f2cd41146afb778"
            ]
        ]
    },
    {
        "id": "61e6717a976582f0",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"sqr\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sqr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 740,
        "wires": [
            [
                "4f2cd41146afb778"
            ]
        ]
    },
    {
        "id": "af61c11e1caa9ff1",
        "type": "change",
        "z": "4abfefc95226429e",
        "name": "set payload to \"sd\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "4f2cd41146afb778"
            ]
        ]
    },
    {
        "id": "4f2cd41146afb778",
        "type": "mqtt out",
        "z": "4abfefc95226429e",
        "name": "",
        "topic": "vehicle/actions",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dffaf68dd69c6f57",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "c98d099acb02654a",
        "type": "friendly-id",
        "z": "e6c4a67240bb059c",
        "name": "",
        "mode": "GENERATE-NANOID",
        "charlen": 21,
        "charset": "DEFAULT",
        "customs": "",
        "tostatus": false,
        "statusVal": "",
        "statusType": "auto",
        "inputFromVal": "",
        "inputFromType": "auto",
        "outputToVal": "",
        "outputToType": "auto",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "ca8332cf23321859"
            ]
        ]
    },
    {
        "id": "ca8332cf23321859",
        "type": "change",
        "z": "e6c4a67240bb059c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "87e0e0dbb90d2053"
            ]
        ]
    },
    {
        "id": "06894d882c214034",
        "type": "inject",
        "z": "e6c4a67240bb059c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "87e0e0dbb90d2053",
        "type": "debug",
        "z": "e6c4a67240bb059c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "07e03ef3899e71b8",
        "type": "inject",
        "z": "e6c4a67240bb059c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "35e43ad081cb7d8d",
                "2560b357405e674a"
            ]
        ]
    },
    {
        "id": "9d8d0c92a8c3d8d8",
        "type": "debug",
        "z": "e6c4a67240bb059c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "35e43ad081cb7d8d",
        "type": "function",
        "z": "e6c4a67240bb059c",
        "name": "function 2",
        "func": "var msgdata = {};\nmsgdata.collection = \"trips\";\nreturn msgdata;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "2560b357405e674a"
            ]
        ]
    },
    {
        "id": "8d883dcfbda429c0",
        "type": "mongodb4",
        "z": "e6c4a67240bb059c",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "87e0e0dbb90d2053"
            ]
        ]
    },
    {
        "id": "2560b357405e674a",
        "type": "mongodb4",
        "z": "e6c4a67240bb059c",
        "clientNode": "c4bd5f065e06f4ad",
        "mode": "collection",
        "collection": "velocities",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "9d8d0c92a8c3d8d8"
            ]
        ]
    }
]